<div class="modal-header primary">
    <h5 class="modal-title" id="modal-title">
        {{update ? 'Vault Details' : 'Add Vault'}}
        <a class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h5>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group" ng-class="{'has-error' : errors.name}">
            <label class="col-sm-4 control-label">Name <span class="text-danger">*</span></label>
            <div class="col-sm-7">
                <input ng-model="data.name" class="form-control" ng-disabled="update" placeholder="e.g. env, hcv, aws">
                <p class="help-block" ng-if="errors.name">{{errors.name}}</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : errors.prefix}">
            <label class="col-sm-4 control-label">Prefix <span class="text-danger">*</span></label>
            <div class="col-sm-7">
                <input ng-model="data.prefix" class="form-control" ng-disabled="update" placeholder="e.g. custom-prefix">
                <p class="help-block" ng-if="errors.prefix">{{errors.prefix}}</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : errors.description}">
            <label class="col-sm-4 control-label">Description</label>
            <div class="col-sm-7">
                <input ng-model="data.description" class="form-control" placeholder="Optional description">
                <p class="help-block" ng-if="errors.description">{{errors.description}}</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : errors.config}">
            <label class="col-sm-4 control-label">Config (JSON)</label>
            <div class="col-sm-7">
                <textarea ng-model="data.config" rows="6" class="form-control" placeholder='{"key": "value"}'></textarea>
                <p class="help-block" ng-if="errors.config">{{errors.config}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <p class="text-danger" ng-if="errorMessage">{{errorMessage}}</p>
                <button type="submit" class="btn btn-primary btn-block" ng-click="submit()">
                    {{update ? 'Update Vault' : 'Add Vault'}}
                </button>
            </div>
        </div>
    </form>
</div>
